node_modules/
dist/
.env
.idea/
.vscode/
/*.log

# Playwright
.playwright-report/

# Allure
allure-results/
allure-report/

# type coverage
coverage/
/test-results/
/playwright-report/

# Playwright
node_modules/
/blob-report/
/playwright/.cache/
/playwright/.auth/
allure-report-single.html
allure-single-file/index.html
allure-report-single.html
